.page {
  display: flex;
  justify-content: center;
  margin-top: 128px;
  padding: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 480px;
  gap: 32px;
}

.view {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.list {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.label {
  font-size: 14px;
  text-transform: uppercase;
}

.value {
  font-size: 24px;
}

.buttons {
  display: flex;
  gap: 16px;
}

.button {
  font-weight: normal;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

.ghost {
  padding: 0;
  border: none;
  background: none;
}

.small {
  opacity: 0.6;
  font-size: 14px;

  &:hover {
    color: black;
  }
}

.large {
  opacity: 0.8;
  font-size: 20px;

  &:hover {
    color: black;
  }
}

.ens {
  display: flex;
  gap: 16px;
  align-items: center;

  .avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;

    &.fallback {
      display: block;
      background: #f0f0f0;
    }
  }

  .name {
    font-size: 24px;
  }
}

.personal {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.name,
.bio {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 32px;
  font-weight: bold;
}

.bio {
  color: #666;
}

.name-editor,
.bio-editor {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.status {
  font-size: 14px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.status.saved {
  color: green;
}

.status.pending {
  color: #666;
}
