.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
